<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA3-b0ST0XpPHYiToHjKxNUb3vHZjULKM</string>
	<key>GCM_SENDER_ID</key>
	<string>643296651939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magtech.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-d2f00</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-d2f00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643296651939:ios:5816d057be2c2674ed6d16</string>
</dict>
</plist>